.idea/
embedding/data/
.tools/
api/.cache/
api/.env
api/var/
api/storage/
.env
graylog/elasticsearch_data/
graylog/mongodb_data/
graylog/graylog_data/
graylog/graylog_journal/
models/
mimir_postgres_data/
minio_data/
qdrant_data/
tei_data/
